In [5]:
#! ipython suppress id=b0641b6ae09942babe0c88f69c55482d
%pushd book-materials
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

[WinError 2] O sistema n√£o pode encontrar o arquivo especificado: 'book-materials'
C:\projetos\freecode\python-everybody-3\pydata-book

In [2]:
#! ipython id=085dfdc5abf744bebb6e84ea614aa99d
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[1.0295833743943326,
 -1.2322774226404478,
 -0.23763701733274403,
 0.6586308511930817,
 -0.5942361655409514,
 -1.4967282814115006,
 0.3725083780136443]

In [6]:
#! ipython id=1a4e6fcb22eb4f89986abfae4c83b48d
a = [1, 2, 3]

In [7]:
#! ipython id=64f8a5dfa016429c8d659bf729003401
b = a
b

[1, 2, 3]

In [8]:
#! ipython id=0eced45afa5347248bb2af66fa5c4e2b
a.append(4)
b

[1, 2, 3, 4]

In [9]:
#! ipython id=1018283ab59f4f05bfe84afca4fc9936
def append_element(some_list, element):
    some_list.append(element)

In [10]:
#! ipython id=2edb843baee44895b71dbd9474407c9c
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [11]:
#! ipython id=e71481e654d64e649533772a2381a3c6
a = 5
type(a)
a = "foo"
type(a)

str

In [12]:
#! ipython allow_exceptions id=c9cf6d998c39413a9fc48646f91dec3e
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [13]:
#! ipython id=0003b825a15647e49598d18de47cbd57
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [14]:
#! ipython id=f3d0ca0ebd384742976ccd83633ac8be
a = 5
isinstance(a, int)

True

In [15]:
#! ipython id=5dacb5ef6e394fe7a8b3f724cb9cdf4d
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [19]:
#! ipython suppress id=7bd32461c0bf45ff9bee3de05a7fa5cf
a = "foo"

In [17]:
#! ipython id=d2aef8895e6f4b67aaa1d6cbd2b6affa
getattr(a, "split")

In [20]:
#! ipython id=f2617db9765f49009c55756ce9cf87cd
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [23]:
#! ipython id=1ea41933d16e460380316fd7a4e0b1d8
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [24]:
#! ipython id=84c35fbe613341129d0e94d6fc798e76
5 - 7
12 + 21.5
5 <= 2

False

In [25]:
#! ipython id=a91f01a0ee1e43e2a000db5609d04789
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [26]:
#! ipython id=1fca12df22264d9881690fcaa804149d
a == c

True

In [27]:
#! ipython id=e6fe568326a94c0d899c9c8b31f0c355
a = None
a is None

True

In [28]:
#! ipython id=7db7331aee334850b9b17cb4f86e6d18
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [29]:
#! ipython allow_exceptions id=2536d7cdf32b4faaa753207cbfcc17fe
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [30]:
#! ipython id=51ad7d167b834b85a8eda9bc416c955b
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [31]:
#! ipython id=3350052c32fc49b599322353c27a4586
fval = 7.243
fval2 = 6.78e-5

In [32]:
#! ipython id=38bc4370bb6840c5beb557dead1d6998
3 / 2

1.5

In [33]:
#! ipython id=2ccf1adf240348008ed8ce811792dbf8
3 // 2

1

In [34]:
#! ipython verbatim id=f1454b6b49ff4e2bba6124576e18cd53
c = """
This is a longer string that
spans multiple lines
"""

In [35]:
#! ipython id=03cb238d855d42dda40a45ab91254038
c.count("\n")

3

In [36]:
#! ipython allow_exceptions id=59788f621484492ba307f10961edbb6c
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [37]:
#! ipython id=f5c3a08f5aaf4706a5122f3ef51f5e89
b = a.replace("string", "longer string")
b

'this is a longer string'

In [31]:
#! ipython id=90017a4e11754eac828714ee61b43ac1
a

In [38]:
#! ipython id=99b192a5b56946cda8707464fb8e2bea
a = 5.6
s = str(a)
print(s)

5.6

In [39]:
#! ipython id=5bce41fece2f47bc90fb813f26cfa081
s = "python"
list(s)
s[:3]

'pyt'

In [40]:
#! ipython id=c826919c945643b8adb2dc48b3fa204b
s = "12\\34"
print(s)

12\34

In [41]:
#! ipython id=f705192174ec4c849203a659260960e0
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [42]:
#! ipython id=9e52b9bfcf734a899ad5b9deecc6b5f1
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [43]:
#! ipython id=8ba0128b1e144dfd87b0a96bbb95e090
template = "{0:.2f} {1:s} are worth US${2:d}"

In [44]:
#! ipython id=830e8c337251466d8704122c38e4a31d
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [47]:
#! ipython id=c5eab29881e7453bbdc2b8d3f1e81924
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [46]:
#! ipython id=d4d50688c6c145d5a2d11d846f03dba2
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [48]:
#! ipython id=fe3d6a3ffd5c4906858baeb46363aee5
val = "espa√±ol"
val

'espa√±ol'

In [49]:
#! ipython id=f1369533406f414ea648c7b80c22cba3
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [50]:
#! ipython id=6cfcab789284478f9fe920568aad6276
val_utf8.decode("utf-8")

'espa√±ol'

In [51]:
#! ipython id=9e55ca7c4e2642e5a26f603523e87564
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [53]:
#! ipython id=422e235bb54842adb436742e6caba89c
True and True
False or True

True

In [57]:
#! ipython id=1051ac23010f466c8f2160c865da145f
int(False)
#int(True)

0

In [55]:
#! ipython id=14dc7378115c43349c92e34020bb3b71
a = True
b = False
not a
not b

True

In [56]:
#! ipython id=345c0ce8702b41539a102f07716ff00d
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [58]:
#! ipython id=163e5f37123741a88e61ef81c85fedc1
a = None
a is None
b = 5
b is not None

True

In [72]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    if c is not None:
        result = result * c
    return result
add_and_maybe_multiply(8, 6, 2)

28

In [73]:
#! ipython id=552d7fff9f2a45a38b54fa44add624c7
from datetime import datetime, date, time
dt = datetime(2022, 10, 22, 12, 10, 21)
dt.day
dt.minute

10

In [75]:
#! ipython id=a527d76de7e141568e7dd9e5c9f8d8ce
dt.date()
#dt.time()

datetime.date(2022, 10, 22)

In [76]:
#! ipython id=9bd051a88f7b458fae19e8e156fda078
dt.strftime("%Y-%m-%d %H:%M")

'2022-10-22 12:10'

In [78]:
#! ipython id=3fe2b447220b4b8ca70b526d76e31cb5
datetime.strptime("20220822", "%Y%m%d")

datetime.datetime(2022, 8, 22, 0, 0)

In [79]:
#! ipython id=178fb4d50aff4d68a0a7e0ab28ee71f3
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2022, 10, 22, 12, 0)

In [80]:
#! ipython id=9ad24ebe03e049b2af9a81ec22a90675
dt

datetime.datetime(2022, 10, 22, 12, 10, 21)

In [83]:
#! ipython id=1a41f2e49eee432cbc4a32f4298e1f3c
dt2 = datetime(2022, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [84]:
#! ipython id=04baa0c20d534202ad4714e5c68d04a4
dt
dt + delta

datetime.datetime(2022, 11, 15, 22, 30)

In [85]:
#! ipython id=6551625a4f864b5fb5ce6b81e5ffd81b
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [86]:
#! ipython id=ace8e0c5cbb349cb852d8248394b0f7c
4 > 3 > 2 > 1

True

In [87]:
#! ipython id=6e3b4a652a894d25906ad84f8b4248ea
#! blockstart
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))
#! blockend

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [88]:
#! ipython id=60383320960a45bcb83e21d713d5619c
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
#! ipython id=71696aba433c43f6b2e05d488837f0f3
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [96]:
seq = [1, 2, None, 4, None, 5]
total = 0
for value in seq:
    if value is None:
        continue
    total += value
    print(total)

1
3
7
12

In [97]:
sequencia = [1,2,0,4,6,5,2,1]
total_unit_5 = 0
for value in sequencia:
    if value == 5:
        break
    total_unit_5 += value
    print(total_unit_5)

1
3
3
7
13

In [104]:
for i in range(4):
    for j in range(4):
        if j > i :
            break
         print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [114]:
x = 256
total=0
while x > 0:
    if total > 500:
        break
    total += x
    x=x//2
    print("total=",  total , "x=", x)

total= 256 x= 128
total= 384 x= 64
total= 448 x= 32
total= 480 x= 16
total= 496 x= 8
total= 504 x= 4

In [105]:

seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [115]:
#! ipython id=430c1852ec4847bcad3afc4a3a68c2f3
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668

In [117]:
#ternario
x=5
'Non-negative' if x >= 0 else 'Negative'
'Non-negative'

'Non-negative'

In [65]:
#! ipython suppress id=25d6eae18f4846ed89c817cb487df3b5
%popd