In [6]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
sns.set_style('whitegrid')

In [3]:
raw_df = pd.read_excel('https://github.com/chris1610/pbpython/blob/master/data/2018_Sales_Total_v2.xlsx?raw=true')

In [4]:
df = raw_df.groupby(['account number', 'name'])['ext price'].sum().reset_index()

In [5]:
df.head()

   account number          name  ext price
0          141962    Herman LLC   63626.03
1          146832  Kiehn-Spinka   99608.77
2          163416   Purdy-Kunde   77898.21
3          218895     Kulas Inc  137351.96
4          239344    Stokes LLC   91535.92